<%= form_with(model: @posts, local: true) do |form| %>
  <% if @posts.errors.any? %>
    <div id="error_explanation">
      <h2><%= @posts.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @posts.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="post_content">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <%= form.submit %>
<% end %>

<td><%= link_to '投稿一覧へ戻る', posts_path %></td>