<!DOCTYPE html>
<html>
  <head>
    <title>PostApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <h1 style="background:#0000ff;color:#ffffff;">SNS</h1>
  </header>
    <%= yield %>
    <footer>
    <h1 style="background:#0000ff;color:#ffffff;">SNS</h1>
    </footer>
  </body>
</html>
